.button:hover {
	-fx-cursor: hand;
}

.button:pressed {
	-fx-font-weight: bold;
}

.image-view:hover {
	-fx-cursor: hand;
}

.image-view:pressed {
	
}

.error {
	-fx-control-inner-background: red;
}